body {
	background-color: rgb(45, 47, 48);
	margin: 5%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#theatre {
	border: 1px solid white;
	width: 100%;
	padding: 5px;
}

#screen {
	border: 1px solid yellow;
	width: 80%;
	height: 50px;
	margin: 10px auto 10px auto;
}

.column, .outercolumn {
	border: 1px solid pink;
	display: inline-block;
	width: 16%;
	margin: auto;
}

#wrapper {
	margin: auto;
	width: 90%;
	border: 1px dashed white;
}

.seats {
	border: 1px solid green;
	display: block;
	width: 90%;
	height: 100px;
	margin: 5px auto 5px auto;
}

.seatnumber {
	color: white;
	text-align: center;
}