*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family:'Share Tech';
	background-color: rgb(45, 47, 48);
	margin: 5%;
}

header {
	width: 100%;
}

#theatre_image {
	width:5%;
	display:inline-block;
	margin-left:190px;

}

h1 {
	display:inline-block;
	text-shadow:3px 3px rgb(47, 116, 127);
	font-size:3em;
	text-align:center;
    font-family:'Sonsie One';
    color:#FF6000;
}

#theatre {
	border: 1px solid white;
	width: 100%;
	padding: 5px;
}

#screen {
	width: 70%;
	height: 50px;
	margin: 10px auto 80px auto;
	text-align: center;
	color: white;
	background-color: rgb(106, 109, 109);
	border-radius: 5px;
}
 
#screen p {
	font-size: 1.25em;
	padding: 12px;
}

.column, .outercolumn {
	display: inline-block;
	width: 12%;
	margin: auto;
}

.outercolumn {
top: -40px;
position: relative;
}

#wrapper {
	margin: auto;
	width: 90%;
	text-align: center;
}

.seats {
	background-color: rgb(47, 116, 127);
	box-shadow: 3px  3px rgb(189, 193, 201);
	border-radius: 2px;
	display: block;
	width: 90%;
	height: 100px;
	margin: 10px auto 20px auto;
}

.seatnumber {
	font-size:1.25em;
	color: white;
	text-align: center;
	display: inline-block;
	margin-top: 40px;
}


.selected{
	background-color: rgb(18, 220, 255);
	box-shadow: 3px  3px rgb(189, 193, 201);
	border-radius: 2px;
	display: block;
	width: 90%;
	height: 100px;
	margin: 10px auto 20px auto;
}

.reserved{
	background-color: rgb(204, 78, 0);
	box-shadow: 3px  3px rgb(189, 193, 201);
	border-radius: 2px;
	display: block;
	width: 90%;
	height: 100px;
	margin: 10px auto 20px auto;
}


#key {
	height:200px;
	width:25%;
	margin-top:20px;
	margin-bottom:20px;
	display:-inline-block;
	float:left;
	border:solid white 1px;
}

#keyhead{
	font-family:'Sonsie One';
	text-align:center;
	color:#FF6000;
}

.keycolor {
	border-radius:2px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	height:30px;
	width:60%;
}

.keytext {
	width:100%;
	padding:5px;
	margin-top:10px;
	text-align:center;
	color:white;
}

#open{
	background-color:rgb(47, 116, 127);
}

#reserved{
	background-color:rgb(204, 78, 0); 
}

#selected{
	background-color:rgb(18, 220, 255);
}

@media(max-width: 800px) {
	
	.seats {
		height: 50px;
	}
	
	.seatnumber {
		margin-top: 12px;
	}
	
}

@media(max-width: 450px) {
	
	h1 {
		font-size: 2em;
	}

}

@media(max-width: 635px){
	
	.keytext {
		font-size:.65em;
	}
	
}

